.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;

  .backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .content {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    select {
      background-color: var(--card-secondary);
      border-radius: var(--corner-rounded);
      box-shadow: var(--card-shadow);
      border: none;
      width: 100%;
      padding: 0.5rem;
      color: var(--text-secondary);
      outline: none;
    }

    select {
      appearance: none;
    }

    &#list {
      max-width: 300px;
    }

    &#task {
      max-width: 500px;
    }
  }

  .tab-title {
    text-align: center;
    font-weight: 900;
  }

  .input-header {
    font-family: "Inter";
    font-weight: 600;
    font-size: 15px;
    color: var(--text-secondary);
    padding-left: var(--corner-rounded);
    user-select: none;
  }

  .btn-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;

    button {
      &#confirm {
        background-color: var(--sidebar-card);
        border-color: var(--sidebar-card);

        &:hover {
          background-color: var(--sidebar-selected);
          border-color: var(--sidebar-selected);
        }
      }

      &#delete {
        border-color: var(--button-delete);
        color: var(--button-delete);

        &:hover {
          background-color: var(--button-delete);
          color: var(--text-tertiary);
        }
      }

      &#cancel {
        border-color: var(--button-cancel);

        &:hover {
          border-color: var(--button-cancel-hover);
        }
      }
    }
  }

  .compact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .delete-check {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: right;
    align-content: center;

    input {
      box-shadow: none;
    }
  }
}
