.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid var(--background-secondary);
  align-self: center;
  user-select: none;

  &:hover,
  &.active {
    background-color: var(--background-secondary);
  }
}
