@import url(assets/fonts/fonts.css);

body {
  font-family:
    system-ui, Avenir, Helvetica, Arial, sans-serif, "Inter", "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root {
  /* page background */
  --background: #fefae0;
  /* sidebar background, completion circle, buttons */
  --green: #ccd5ae;
  /* sidebar card background, confirm button */
  --light-green: #e9edc9;
  /* selected tab */
  --dark-green: #afb98e;
  /* confirm button hover */
  --darker-green: #8fa070;
  /* task background, creation tab */
  --cream: #eedab8;
  /* task card background, input area */
  --light-cream: #faedcd;
  /* card darker background? */
  --dark-cream: #d4a373;
  /*  delete button, delete button hover*/
  --red: #8c3f2e;
  /* cancel button */
  --musty-green: #c8b898;
  /* cancel button hover */
  --dark-musty-green: #b8a880;

  --dark-gray-text: #2e2e2e;
  --lighter-gray-text: #3a3a3a;
  --light-text: white;

  --corner-rounded: 10px;

  --sidebar-shadow: 3px 0 4px rgba(0, 0, 1, 0.2);
  --card-shadow: 0px 0 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "Poppins";
  font-size: 38px;
  margin: 0;
  user-select: none;
}

h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  color: var(--dark-gray-text);
  margin: 0;
  user-select: none;
}

h3 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: var(--lighter-gray-text);
  margin: 0;
  user-select: none;
}
