@import url(components/assets/fonts/fonts.css);

body {
  font-family:
    system-ui, Avenir, Helvetica, Arial, sans-serif, "Inter", "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root {
  --accent-color: #ccd5ae;
  --light-accent-color: #e9edc9;
  --background: #fefae0;
  --card-background: #faedcd;
  --card-orange-background: #d4a3735e;
  --card-darker-background: #d4a373;

  --dark-gray-text: #2e2e2e;
  --lighter-gray-text: #3a3a3a;

  --register-light-border-color: rgba(255, 255, 255, 0.2);

  --corner-rounded: 10px;
  --corner-rounded-cirle: 40px;
  --light-corner-rounded: 3px;

  --sidebar-shadow: 3px 0 4px rgba(0, 0, 1, 0.2);
  --card-shadow: 0px 0 4px rgba(0, 0, 0, 0.1);

  --strong-bottom-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  --light-spread-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --light-shadow:
    0px 1px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.1),
    0px 2px 4px rgb(0 0 0 / 0.1);
}

h1 {
  font-family: "Poppins";
  font-size: 38px;
  margin: 0;
}

h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  color: var(--dark-gray-text);
  margin: 0;
}

h3 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  color: var(--lighter-gray-text);
  margin: 0;
}
