.task-container {
  flex: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 100px 100px 20px;
  column-gap: 1rem;
  align-items: baseline;
  padding-left: var(--corner-rounded);
  padding-right: 2rem;

  h3 {
    font-family: "Poppins";
    gap: 1rem;
    color: var(--dark-gray-text);
    text-align: center;
  }
}

.task-box {
  width: auto;
  height: auto;
  min-height: 100px;
  padding: 1rem;
  background-color: var(--cream);
  border-radius: var(--corner-rounded);
  box-shadow: var(--card-shadow);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--light-cream);
  border-radius: var(--corner-rounded);
  box-shadow: var(--card-shadow);
  display: grid;
  grid-template-columns: 32px 1fr 100px 100px 20px;
  column-gap: 1rem;

  h3 {
    align-self: center;
    flex-grow: 1;
  }

  .tags {
    font-weight: 300;
    flex-grow: 0;
    text-align: center;
  }
}

.completed-task {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--light-cream);
  border-radius: var(--corner-rounded);
  box-shadow: var(--card-shadow);
  display: grid;
  grid-template-columns: 32px 1fr 100px 100px 20px;
  column-gap: 1rem;
  opacity: 0.54;

  h3 {
    text-decoration: line-through;
    align-self: center;
    flex-grow: 1;
  }

  .tags {
    font-weight: 300;
    flex-grow: 0;
    text-align: center;
    text-decoration: none;
  }
}
